*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
}

.header{
    background-color: antiquewhite;
    font-size: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}
.main-container{
    display: flex;
    background-color: rgb(47, 1, 1);
    height: 660px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.info-container{
    align-self: center;
    color: black;
    text-align: center;
    background-color:burlywood ;
    border: 5px ridge black;
    width: 300px;
    height: 400px;
}
.score-container{
    margin-top: 10px;
} 

.game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(130, 0, 0);
    border: 10px ridge black;
    height: 400px;
    width: 600px;
}
.button-container{
    display: flex;
    padding: 10px;
    flex: 1;
    justify-content: space-around;
}
.button-container img{
    width: 150px;
    border-radius: 4px;
}
.button-container img:hover{
    opacity: .8;
    transition: 0.2s;
}

.footer{
    background-color: bisque;
    display: flex;
    height: 30px;
    font-size: 20px;
    justify-content: center;
    bottom: 0;
}